<h1 mat-dialog-title class="flex align-items-center justify-content-center py-3">
    Courses
</h1>
<div mat-dialog-content>
    <form [formGroup]="courseForm" class="grid formgrid">
        <div class="col-12 py-2">
            <mat-form-field class="w-full">
                <mat-label>Course title</mat-label>
                <input formControlName="title" matInput type="text" />
                <mat-error
                    *ngIf="courseForm.get('title')?.invalid && (courseForm.get('title')?.dirty || courseForm.get('title')?.touched)">
                    <span *ngIf="courseForm.get('title')?.hasError('required')">The name of the course is
                        required.</span>
                    <span *ngIf="courseForm.get('title')?.hasError('pattern')">Only letters and spaces are
                        allowed.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4 py-2">
            <mat-form-field class="w-full">
                <mat-label>Shift</mat-label>
                <mat-select formControlName="shift">
                    <mat-option value="Morning shift">Morning shift</mat-option>
                    <mat-option value="Afternoon shift">Afternoon shift</mat-option>
                    <mat-option value="Evening shift">Evening shift</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="courseForm.get('shift')?.invalid && (courseForm.get('shift')?.dirty || courseForm.get('shift')?.touched)">
                    <span *ngIf="courseForm.get('shift')?.hasError('required')">Shift is required.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4 py-2">
            <mat-form-field class="w-full">
                <mat-label>Modality</mat-label>
                <mat-select formControlName="modality">
                    <mat-option value="Online">Online</mat-option>
                    <mat-option value="Hybrid">Hybrid</mat-option>
                    <mat-option value="On-site">On-site</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="courseForm.get('modality')?.invalid && (courseForm.get('modality')?.dirty || courseForm.get('modality')?.touched)">
                    <span *ngIf="courseForm.get('modality')?.hasError('required')">The modality is required.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4 py-2">
            <mat-form-field class="w-full">
                <input matInput formControlName="startDate" [matDatepicker]="startDatePicker"
                    placeholder="Choose a start date" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error
                    *ngIf="courseForm.get('startDate')?.invalid && (courseForm.get('startDate')?.dirty || courseForm.get('startDate')?.touched)">
                    <span *ngIf="courseForm.get('startDate')?.hasError('required')">Date of creation is required.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-8 py-2">
            <mat-form-field class="w-full">
                <mat-label>Teacher</mat-label>
                <mat-select formControlName="teacher" required>
                    <mat-option *ngFor="let user of users" [value]="user.firstName + ' ' + user.lastName">
                        {{ user.firstName }}  {{ user.lastName }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="courseForm.get('teacher')?.invalid && (courseForm.get('teacher')?.dirty || courseForm.get('teacher')?.touched)">
                    <span *ngIf="courseForm.get('teacher')?.hasError('required')">The teacher's name is required.</span>
                    <span *ngIf="courseForm.get('teacher')?.hasError('pattern')">Only letters and spaces are
                        allowed.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4 py-2">
            <mat-form-field class="w-full">
                <input matInput formControlName="endDate" [matDatepicker]="endDatePicker" placeholder="Choose an end date" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 py-2">
            <mat-form-field class="w-full">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" matInput type="text"
                    placeholder="Write the description here..."></textarea>
                <mat-error
                    *ngIf="courseForm.get('description')?.invalid && (courseForm.get('description')?.dirty || courseForm.get('description')?.touched)">
                    <span *ngIf="courseForm.get('description')?.hasError('required')">Description is required.</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="viewMode" class="col-12">
            <h4>Available students</h4>
            <table mat-table [dataSource]="enrollmentsCourse" class="mat-elevation-z8">
                <ng-container matColumnDef="studentId">
                    <th mat-header-cell *matHeaderCellDef>USER ID</th>
                    <td mat-cell *matCellDef="let enrollment">{{ enrollment.studentId }}</td>
                </ng-container>
                <ng-container matColumnDef="studentName">
                    <th mat-header-cell *matHeaderCellDef>Student name</th>
                    <td mat-cell *matCellDef="let enrollment">{{ enrollment.studentName | uppercase }}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let enrollment">{{ enrollment.email }}</td>
                </ng-container>
                <ng-container matColumnDef="magicWandCore">
                    <th mat-header-cell *matHeaderCellDef>Core of magic wand</th>
                    <td mat-cell *matCellDef="let enrollment">{{ enrollment.magicWandCore }}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="authUser && isAuthorizedToDelete(element)" (click)="onDelete(element)" mat-icon-button color="warn">
                            <mat-icon primar>cancel</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['studentId', 'studentName', 'email', 'magicWandCore', 'actions']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['studentId', 'studentName', 'email', 'magicWandCore', 'actions'];"></tr>
            </table>
        </div>
    </form>
</div>

<div mat-dialog-actions class="flex justify-content-center gap-4 mat-dialog-actions-design">
    <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" class="col-2">
        Save
    </button>
    <button [mat-dialog-close]="false" mat-raised-button color="warn" type="button" class="col-2">
        Cancel
    </button>
</div>