.div-add-user {
    padding-bottom: 1.5rem;
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 1700px) {
    .div-user {
        width: 130px;
    }

    .div-email {
        width: 235px;
    }

    .div-core {
        width: 100px;
    }

    .div-role {
        width: 80px;
    }
}