<h1 [style.fontWeight]="style" appHeadline>List of users</h1>
<div class="div-add-user">
    <button (click)="onCreateUser()" mat-flat-button color="primary">
        <mat-icon>add</mat-icon>Add user
    </button>
</div>

<mat-tab-group #tabGroup>
    <mat-tab label="List of users">
        <div class="table-container">
            <table mat-table [dataSource]="users" class="mat-elevation-z8">
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.userId }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef>Full name</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user | fullname : "uppercase" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>Gender</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.gender }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.email }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef>Date of birth</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.dateOfBirth | date:'MM/dd/yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.role }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="magicWandWood">
                    <th mat-header-cell *matHeaderCellDef>Wood of magic wand</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.magicWandWood }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="magicWandCore">
                    <th mat-header-cell *matHeaderCellDef>Core of magic wand</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.magicWandCore }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="magicWandLength">
                    <th mat-header-cell *matHeaderCellDef>Length of magic wand</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.magicWandLength }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let user">
                        <button (click)="onEditUser(user)" mat-icon-button color="accent">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="onViewUser(user)" mat-icon-button color="primary">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button (click)="onDeleteUser(user.userId)" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>