<h1 [style.fontWeight]="style" appHeadline>{{ authUser && authUser.role === 'Student' ? 'List of students' : 'List of users' }}</h1>
<div class="div-add-user">
    <button *ngIf="authUser && authUser.role === 'Administrator'" (click)="onCreateUser()" mat-flat-button color="primary">
        <mat-icon>add</mat-icon>Add user
    </button>
</div>

<mat-tab-group #tabGroup>
    <mat-tab label="List of users">
        <div class="table-container">
            <table mat-table [dataSource]="users" class="mat-elevation-z8">
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.userId }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef>Full name</th>
                    <td mat-cell *matCellDef="let user">
                        <div class="div-user">
                            {{ user | fullname : "uppercase" }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>Gender</th>
                    <td mat-cell *matCellDef="let user">
                        <div style="width: 70px;">
                            {{ user.gender }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let user">
                        <div class="div-email">
                            {{ user.email }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef>Date of birth</th>
                    <td mat-cell *matCellDef="let user">
                        {{ user.dateOfBirth | date:'MM/dd/yyyy' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="magicWandCore">
                    <th mat-header-cell *matHeaderCellDef style="padding-top: 8px; padding-bottom: 8px; width: 150px;">Core of magic wand</th>
                    <td mat-cell *matCellDef="let user">
                        <div class="div-core">
                            {{ user.magicWandCore }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let user">
                        <div class="div-role">
                            {{ user.role }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let user">
                        <button *ngIf="authUser && authUser.role === 'Administrator'" (click)="onEditUser(user)" mat-icon-button color="accent">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button [disabled]="user.role !== 'Student'" (click)="onViewUser(user)" mat-icon-button color="primary">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button *ngIf="authUser && authUser.role === 'Administrator'" (click)="onDeleteUser(user)" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>