.container-fluid {
    background: radial-gradient(circle, #404040, #141415);
    background-size: cover;
    height: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

mat-card-content {
    padding: 30px !important;
}

.input-field {
    width: 100%;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
}

.footer {
    background-color: #424242;
    color: white;
    position: sticky;
    bottom: 0;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}