.div-add-course {
    padding-bottom: 1.5rem;
}

@media (max-width: 1700px) {
    .div-title {
        width: 90px;
    }

    .div-description {
        width: 200px;
    }

    .div-teacher {
        width: 90px;
    }

    .div-shift {
        width: 100px;
    }
}