<div class="welcome-section grid formgrid" style="padding-right: 20px;">
    <div class="col-8 p-md-6">
        <div class="welcome-content">
            <h1>Welcome to HogwartsCourses school of witchcraft and wizardry!</h1>
            <p>Experience the magic of learning with our enchanting courses and engaging community.</p>
            <p>Join us to embark on a journey full of knowledge, discovery, and adventure!</p>
        </div>
    </div>
    <div class="col-4 p-md-6 flex justify-content-center">
        <div class="welcome-image">
            <img src="../../../../../assets/images/howgarts.png" alt="Hogwarts school" />
        </div>
    </div>
</div>

<div class="welcome-section grid formgrid py-3" style="padding-left: 20px;">
    <div class="col-4 p-md-6 flex justify-content-center">
        <div class="welcome-image">
            <img src="../../../../../assets/images/school-map.jpg" alt="Hogwarts school" />
        </div>
    </div>
    <div class="col-8 p-md-6">
        <div class="welcome-content">
            <h1>How to get to HogwartsCourses?</h1>
            <p>To get to Hogwarts Castle, first go to King's Cross Station in London and look for the Nine and Three Quarters platform. Cross the barrier between the platforms to find her.</p>
            <p>Then, board the Hogwarts Express, a special train that will take you to Hogsmeade station near Loch Ness.</p>
            <p>Finally, take one of the small rowboats on the lake, which will take you to Hogwarts Castle.</p>
        </div>
    </div>
</div>

<div *ngIf="authUser && authUser.role === 'Administrator'">
    <h2 class="p-4">In this section, you will be able to make Additions, Removals, and Modifications (AR&M) of:</h2>
    <div class="grid formgrid div-abm-design">
        <div class="col-6">
            <h3 class="p-2" style="margin: 0;">Users:</h3>
            <div class="abm-section p-2">
                <img src="../../../../../assets/images/users.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <h3 class="p-2" style="margin: 0;">Courses:</h3>
            <div class="abm-section p-2">
                <img src="../../../../../assets/images/courses.png" alt="">
            </div>
        </div>
    </div>
    <div class="grid formgrid div-abm-design">
        <div class="col-6">
            <h3 class="p-2" style="margin: 0;">Enrollments:</h3>
            <div class="abm-section p-2">
                <img src="../../../../../assets/images/enrollments.png" alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="abm-section p-2">
                <img src="../../../../../assets/images/AR&M.png" alt="">
            </div>
        </div>
    </div>
</div>

<div *ngIf="authUser && authUser.role === 'Administrator'">
    <h2 class="p-4" style="margin-bottom: 0;">Statistics of the data collected</h2>
    <p style="display: flex; justify-content: center; margin-top: 0; margin-bottom: 30px;">With these graphs we can draw more accurate conclusions and make better decisions.</p>
    <div class="p-2 grid formgrid">
        <div class="col-4">
            <div style="display: block">
                <canvas id="userChart" width="100" height="100"></canvas>
            </div>
        </div>
        <div class="col-4">
            <div style="display: block">
                <canvas id="wandChart" width="100" height="100"></canvas>
            </div>
        </div>
        <div class="col-4">
            <div style="display: block">
                <canvas id="genderChart" width="100" height="100"></canvas>
            </div>
        </div>
    </div>
</div>